@import "mixins/badges";

.badge {
  font-size: 5px;
  padding: 3px 4.7px;
  margin-right: 10px;
  vertical-align: middle;

  &.badge-success {
    @include badge-variant($brand-success);
  }

  &.badge-warning {
    @include badge-variant($brand-warning);
  }

  &.badge-danger {
    @include badge-variant($brand-danger);
  }
}

.btn {
  .badge {
    margin: 0;
  }
}