.navbar {
  border-radius: 0;
  margin-bottom: 30px;

  > .container, .container-fluid {
    .navbar-brand {
      cursor: pointer;
    }
  }
}

.navbar-nav {
  > li {
    .dropdown-menu {
      border-radius: 0;
    }
  }
}